.price {
  font-size: 24px;
  font-weight: 400;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  color: #298a08;
  text-shadow: 1px 1px rgb(72, 165, 119);
  margin: 15px;
  padding-left: 20px;
  z-index: 10;
  display: block;

  .label {
    background: #ffff00;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px;
  }
}
