.error__container {
  background-color: rgb(112, 99, 99);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e3e3e3;
  height: 100%;
  font-size: 30px;
  text-align: center;
}
