.cardList_container {
  display: flex;
  flex-direction: row;
  background-color: #eeeeee;
  padding: 30px;
  min-height: 100%;

  .card_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
  }
}
